body{
    padding:25px;
    margin:auto;
}

h1{
    font-family: "Brush Script MT", "Apple Chancery";
    text-align: center;
    font-size: 80px;
    margin: 10px;
}

.food{
    display: block;
    margin: 20px auto;
    border: 4px solid black;
}

ol li{
    padding: 7px;
    margin: 5px;
    background-color: bisque;
    border: 2px solid black;
}

ul li{
    padding:2px;
    background-color: bisque;

}
h2,h3,p{
     background-color: bisque;
}
